In [1]:
import pandas as pd

In [2]:
schools_data_path = "Resources/schools_complete.csv"
students_data_path = "Resources/students_complete.csv"

In [3]:
school_data = pd.read_csv(schools_data_path)
student_data = pd.read_csv(students_data_path)

In [4]:
#District Summary
district_data = pd.merge(school_data, student_data, how = 'left', on = ['school_name', 'school_name'])

In [5]:
district_data

,School ID,school_name,type,size,budget,Student ID,student_name,gender,grade,reading_score,math_score
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60
3,0,Huang High School,District,2917,1910635,3,Dr. Richard Scott,M,12th,67,58
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84
...,...,...,...,...,...,...,...,...,...,...,...
39165,14,Thomas High School,Charter,1635,1043130,39165,Donna Howard,F,12th,99,90
39166,14,Thomas High School,Charter,1635,1043130,39166,Dawn Bell,F,10th,95,70
39167,14,Thomas High School,Charter,1635,1043130,39167,Rebecca Tanner,F,9th,73,84
39168,14,Thomas High School,Charter,1635,1043130,39168,Desiree Kidd,F,10th,99,90
39169,14,Thomas High School,Charter,1635,1043130,39169,Carolyn Jackson,F,11th,95,75

In [6]:
N_schools = district_data["School ID"].max()
N_students = len(district_data)
district_budget = str(district_data["budget"].sum())
mean_math_score = str(district_data["math_score"].mean())
mean_reading_score = str(district_data["reading_score"].mean())

In [7]:
bins = [0,69,100]
bin_names = ["Fail", "Pass"]

In [8]:
district_data["Math Score Summary"] = pd.cut(district_data["math_score"], bins, labels = bin_names, include_lowest = True)
district_data["Reading Score Summary"] = pd.cut(district_data["reading_score"], bins, labels = bin_names, include_lowest = True)

In [9]:
math_pass_prop = (len(district_data.loc[district_data["Math Score Summary"]=="Pass"]))/(len(district_data))
math_pass = str(math_pass_prop*100)
reading_pass_prop = (len(district_data.loc[district_data["Reading Score Summary"]=="Pass"]))/(len(district_data))
reading_pass = str(reading_pass_prop*100)

In [10]:
count_pass = district_data.groupby(['Math Score Summary', 'Reading Score Summary']).size()
count_pass
pass_fail = count_pass.to_frame(name = 'size').reset_index()
pass_fail['Overall'] = pass_fail['Math Score Summary'].astype(str) + pass_fail['Reading Score Summary'].astype(str) 
PassPass = pass_fail.loc[pass_fail['Overall']=='PassPass', 'size'].iloc[0]
both_pass_prop = PassPass/len(district_data)
both_pass = str(both_pass_prop*100)

In [11]:
columns = ['Number of Schools', 'Number of Students', 'Total Budget', 'Average Math Score', 'Average Reading Score',
          'Percentage Passing Math', 'Percentage Passing English', 'Percentage of Students Passing Both']

sum_dict = {
    'Number of Schools': [N_schools],
    'Number of Students': [N_students],
    'Total Budget': ["$"+ district_budget],
    'Average Math Score': [mean_math_score+ "%"],
    'Average Reading Score': [mean_reading_score+ "%"],
    'Percentage Passing Math': [math_pass + "%"],
    'Percentage Passing English': [reading_pass + "%"],
    'Percentage of Students Passing Both': [both_pass + "%"]
}

district_summary = pd.DataFrame(sum_dict, columns=columns)
district_summary

,Number of Schools,Number of Students,Total Budget,Average Math Score,Average Reading Score,Percentage Passing Math,Percentage Passing English,Percentage of Students Passing Both
0,14,39170,$82932329558,78.98537145774827%,81.87784018381414%,74.9808526933878%,85.80546336482001%,65.17232575950983%

In [54]:
#School Summary
district_data

,School ID,school_name,type,size,budget,Student ID,student_name,gender,grade,reading_score,math_score,Math Score Summary,Reading Score Summary
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79,Pass,Fail
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61,Fail,Pass
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60,Fail,Pass
3,0,Huang High School,District,2917,1910635,3,Dr. Richard Scott,M,12th,67,58,Fail,Fail
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84,Pass,Pass
...,...,...,...,...,...,...,...,...,...,...,...,...,...
39165,14,Thomas High School,Charter,1635,1043130,39165,Donna Howard,F,12th,99,90,Pass,Pass
39166,14,Thomas High School,Charter,1635,1043130,39166,Dawn Bell,F,10th,95,70,Pass,Pass
39167,14,Thomas High School,Charter,1635,1043130,39167,Rebecca Tanner,F,9th,73,84,Pass,Pass
39168,14,Thomas High School,Charter,1635,1043130,39168,Desiree Kidd,F,10th,99,90,Pass,Pass
39169,14,Thomas High School,Charter,1635,1043130,39169,Carolyn Jackson,F,11th,95,75,Pass,Pass

In [12]:
#mpr = math pass rate
#rpr = reading pass rate
#mpp = math pass percentage
#rpp = reading pass percentage
#bp = both pass
#c = count of passes and fails
#p = dataframe of c
#p_p = number of 'pass-passes'
#bpp = 'both pass proportion'
#bp = 'both pass' percentage

ID_0 = district_data.loc[district_data['School ID']==0]
mpr_0 = (ID_0['Math Score Summary'].value_counts().iloc[0])/len(ID_0)
rpr_0 = (ID_0['Reading Score Summary'].value_counts().iloc[0])/len(ID_0)
mpp_0 = mpr_0*100
rpp_0 = rpr_0*100

c0 =  ID_0.groupby(['Math Score Summary', 'Reading Score Summary']).size()
p0 = c0.to_frame(name = 'size').reset_index()
p0['Overall'] = p0['Math Score Summary'].astype(str) + p0['Reading Score Summary'].astype(str)
p0p = p0.loc[p0['Overall']=='PassPass', 'size'].iloc[0]
bpp0 = p0p/len(ID_0)
bp0 = str(bpp0*100)


ID_1 = district_data.loc[district_data['School ID']==1]
mpr_1 = (ID_1['Math Score Summary'].value_counts().iloc[0])/len(ID_1)
rpr_1 = (ID_1['Reading Score Summary'].value_counts().iloc[0])/len(ID_1)
mpp_1 = mpr_1*100
rpp_1 = rpr_1*100

c1 =  ID_1.groupby(['Math Score Summary', 'Reading Score Summary']).size()
p1 = c1.to_frame(name = 'size').reset_index()
p1['Overall'] = p1['Math Score Summary'].astype(str) + p1['Reading Score Summary'].astype(str)
p1p = p1.loc[p1['Overall']=='PassPass', 'size'].iloc[0]
bpp1 = p1p/len(ID_1)
bp1 = str(bpp1*100)


ID_2 = district_data.loc[district_data['School ID']==2]
mpr_2 = (ID_2['Math Score Summary'].value_counts().iloc[0])/len(ID_2)
rpr_2 = (ID_2['Reading Score Summary'].value_counts().iloc[0])/len(ID_2)
mpp_2 = mpr_2*100
rpp_2 = rpr_2*100

c2 =  ID_2.groupby(['Math Score Summary', 'Reading Score Summary']).size()
p2 = c2.to_frame(name = 'size').reset_index()
p2['Overall'] = p2['Math Score Summary'].astype(str) + p2['Reading Score Summary'].astype(str)
p2p = p2.loc[p2['Overall']=='PassPass', 'size'].iloc[0]
bpp2 = p2p/len(ID_2)
bp2 = str(bpp2*100)


ID_3 = district_data.loc[district_data['School ID']==3]
mpr_3 = (ID_3['Math Score Summary'].value_counts().iloc[0])/len(ID_3)
rpr_3 = (ID_3['Reading Score Summary'].value_counts().iloc[0])/len(ID_3)
mpp_3 = mpr_3*100
rpp_3 = rpr_3*100

c3 =  ID_3.groupby(['Math Score Summary', 'Reading Score Summary']).size()
p3 = c3.to_frame(name = 'size').reset_index()
p3['Overall'] = p3['Math Score Summary'].astype(str) + p3['Reading Score Summary'].astype(str)
p3p = p0.loc[p3['Overall']=='PassPass', 'size'].iloc[0]
bpp3 = p3p/len(ID_3)
bp3 = str(bpp3*100)


ID_4 = district_data.loc[district_data['School ID']==4]
mpr_4 = (ID_4['Math Score Summary'].value_counts().iloc[0])/len(ID_4)
rpr_4 = (ID_4['Reading Score Summary'].value_counts().iloc[0])/len(ID_4)
mpp_4 = mpr_4*100
rpp_4 = rpr_4*100

c4 =  ID_4.groupby(['Math Score Summary', 'Reading Score Summary']).size()
p4 = c4.to_frame(name = 'size').reset_index()
p4['Overall'] = p4['Math Score Summary'].astype(str) + p4['Reading Score Summary'].astype(str)
p4p = p4.loc[p4['Overall']=='PassPass', 'size'].iloc[0]
bpp4 = p4p/len(ID_4)
bp4 = str(bpp4*100)


ID_5 = district_data.loc[district_data['School ID']==5]
mpr_5 = (ID_5['Math Score Summary'].value_counts().iloc[0])/len(ID_5)
rpr_5 = (ID_5['Reading Score Summary'].value_counts().iloc[0])/len(ID_5)
mpp_5 = mpr_5*100
rpp_5 = rpr_5*100

c5 =  ID_5.groupby(['Math Score Summary', 'Reading Score Summary']).size()
p5 = c5.to_frame(name = 'size').reset_index()
p5['Overall'] = p5['Math Score Summary'].astype(str) + p5['Reading Score Summary'].astype(str)
p5p = p5.loc[p5['Overall']=='PassPass', 'size'].iloc[0]
bpp5 = p5p/len(ID_5)
bp5 = str(bpp5*100)


ID_6 = district_data.loc[district_data['School ID']==6]
mpr_6 = (ID_6['Math Score Summary'].value_counts().iloc[0])/len(ID_6)
rpr_6 = (ID_6['Reading Score Summary'].value_counts().iloc[0])/len(ID_6)
mpp_6 = mpr_6*100
rpp_6 = rpr_6*100

c6 =  ID_6.groupby(['Math Score Summary', 'Reading Score Summary']).size()
p6 = c6.to_frame(name = 'size').reset_index()
p6['Overall'] = p6['Math Score Summary'].astype(str) + p6['Reading Score Summary'].astype(str)
p6p = p6.loc[p6['Overall']=='PassPass', 'size'].iloc[0]
bpp6 = p6p/len(ID_6)
bp6 = str(bpp6*100)


ID_7 = district_data.loc[district_data['School ID']==7]
mpr_7 = (ID_7['Math Score Summary'].value_counts().iloc[0])/len(ID_7)
rpr_7 = (ID_7['Reading Score Summary'].value_counts().iloc[0])/len(ID_7)
mpp_7 = mpr_7*100
rpp_7 = rpr_7*100

c7 =  ID_7.groupby(['Math Score Summary', 'Reading Score Summary']).size()
p7 = c7.to_frame(name = 'size').reset_index()
p7['Overall'] = p7['Math Score Summary'].astype(str) + p7['Reading Score Summary'].astype(str)
p7p = p7.loc[p7['Overall']=='PassPass', 'size'].iloc[0]
bpp7 = p7p/len(ID_7)
bp7 = str(bpp7*100)


ID_8 = district_data.loc[district_data['School ID']==8]
mpr_8 = (ID_8['Math Score Summary'].value_counts().iloc[0])/len(ID_8)
rpr_8 = (ID_8['Reading Score Summary'].value_counts().iloc[0])/len(ID_8)
mpp_8 = mpr_8*100
rpp_8 = rpr_8*100

c8 =  ID_8.groupby(['Math Score Summary', 'Reading Score Summary']).size()
p8 = c8.to_frame(name = 'size').reset_index()
p8['Overall'] = p8['Math Score Summary'].astype(str) + p8['Reading Score Summary'].astype(str)
p8p = p8.loc[p8['Overall']=='PassPass', 'size'].iloc[0]
bpp8 = p8p/len(ID_8)
bp8 = str(bpp8*100)


ID_9 = district_data.loc[district_data['School ID']==9]
mpr_9 = (ID_9['Math Score Summary'].value_counts().iloc[0])/len(ID_9)
rpr_9 = (ID_9['Reading Score Summary'].value_counts().iloc[0])/len(ID_9)
mpp_9 = mpr_9*100
rpp_9 = rpr_9*100

c9 =  ID_9.groupby(['Math Score Summary', 'Reading Score Summary']).size()
p9 = c9.to_frame(name = 'size').reset_index()
p9['Overall'] = p9['Math Score Summary'].astype(str) + p9['Reading Score Summary'].astype(str)
p9p = p9.loc[p9['Overall']=='PassPass', 'size'].iloc[0]
bpp9 = p9p/len(ID_9)
bp9 = str(bpp9*100)


ID_10 = district_data.loc[district_data['School ID']==10]
mpr_10 = (ID_10['Math Score Summary'].value_counts().iloc[0])/len(ID_10)
rpr_10 = (ID_10['Reading Score Summary'].value_counts().iloc[0])/len(ID_10)
mpp_10 = mpr_10*100
rpp_10 = rpr_10*100

c10 =  ID_10.groupby(['Math Score Summary', 'Reading Score Summary']).size()
p10 = c10.to_frame(name = 'size').reset_index()
p10['Overall'] = p10['Math Score Summary'].astype(str) + p10['Reading Score Summary'].astype(str)
p10p = p10.loc[p10['Overall']=='PassPass', 'size'].iloc[0]
bpp10 = p10p/len(ID_10)
bp10 = str(bpp10*100)


ID_11 = district_data.loc[district_data['School ID']==11]
mpr_11 = (ID_11['Math Score Summary'].value_counts().iloc[0])/len(ID_11)
rpr_11 = (ID_11['Reading Score Summary'].value_counts().iloc[0])/len(ID_11)
mpp_11 = mpr_11*100
rpp_11 = rpr_11*100

c11 =  ID_11.groupby(['Math Score Summary', 'Reading Score Summary']).size()
p11 = c11.to_frame(name = 'size').reset_index()
p11['Overall'] = p11['Math Score Summary'].astype(str) + p11['Reading Score Summary'].astype(str)
p11p = p11.loc[p11['Overall']=='PassPass', 'size'].iloc[0]
bpp11 = p11p/len(ID_11)
bp11 = str(bpp11*100)


ID_12 = district_data.loc[district_data['School ID']==12]
mpr_12 = (ID_12['Math Score Summary'].value_counts().iloc[0])/len(ID_12)
rpr_12 = (ID_12['Reading Score Summary'].value_counts().iloc[0])/len(ID_12)
mpp_12 = mpr_12*100
rpp_12 = rpr_12*100

c12 =  ID_12.groupby(['Math Score Summary', 'Reading Score Summary']).size()
p12 = c12.to_frame(name = 'size').reset_index()
p12['Overall'] = p12['Math Score Summary'].astype(str) + p12['Reading Score Summary'].astype(str)
p12p = p12.loc[p12['Overall']=='PassPass', 'size'].iloc[0]
bpp12 = p12p/len(ID_12)
bp12 = str(bpp12*100)


ID_13 = district_data.loc[district_data['School ID']==13]
mpr_13 = (ID_13['Math Score Summary'].value_counts().iloc[0])/len(ID_13)
rpr_13 = (ID_13['Reading Score Summary'].value_counts().iloc[0])/len(ID_13)
mpp_13 = mpr_13*100
rpp_13 = rpr_13*100

c13 =  ID_13.groupby(['Math Score Summary', 'Reading Score Summary']).size()
p13 = c13.to_frame(name = 'size').reset_index()
p13['Overall'] = p13['Math Score Summary'].astype(str) + p13['Reading Score Summary'].astype(str)
p13p = p13.loc[p11['Overall']=='PassPass', 'size'].iloc[0]
bpp13 = p13p/len(ID_13)
bp13 = str(bpp13*100)


ID_14 = district_data.loc[district_data['School ID']==14]
mpr_14 = (ID_14['Math Score Summary'].value_counts().iloc[0])/len(ID_14)
rpr_14 = (ID_14['Reading Score Summary'].value_counts().iloc[0])/len(ID_14)
mpp_14 = mpr_14*100
rpp_14 = rpr_14*100

c14 =  ID_14.groupby(['Math Score Summary', 'Reading Score Summary']).size()
p14 = c14.to_frame(name = 'size').reset_index()
p14['Overall'] = p14['Math Score Summary'].astype(str) + p14['Reading Score Summary'].astype(str)
p14p = p14.loc[p11['Overall']=='PassPass', 'size'].iloc[0]
bpp14 = p14p/len(ID_14)
bp14 = str(bpp14*100)

In [26]:
mpps = [mpp_0,mpp_1,mpp_2,mpp_3,mpp_4,mpp_5,mpp_6,mpp_7,mpp_8,mpp_9,mpp_10,mpp_11,mpp_12,mpp_13,mpp_14]
mpps

[65.68392183750429,
 65.98847066802306,
 93.8671209540034,
 66.7529665587918,
 93.39237057220708,
 93.8677179150241,
 94.1334768568353,
 66.68006430868168,
 92.50585480093677,
 94.5945945945946,
 93.33333333333333,
 66.36659164791197,
 66.0575509346776,
 68.3096020445418,
 93.27217125382263]

In [29]:
rpps = [rpp_0,rpp_1,rpp_2,rpp_3,rpp_4,rpp_5,rpp_6,rpp_7,rpp_8,rpp_9,rpp_10,rpp_11,rpp_12,rpp_13,rpp_14]
rpps

[81.31642098045938,
 80.73923363852154,
 95.85462805224304,
 80.86299892125135,
 97.13896457765668,
 96.53964082347788,
 97.03982777179763,
 81.93327974276528,
 96.25292740046838,
 95.94594594594594,
 96.61111111111111,
 80.22005501375344,
 81.2224322621298,
 79.29901423877328,
 97.30886850152906]

In [24]:
bp_all = [bp0,bp1,bp2,bp3,bp4,bp5,bp6,bp7,bp8,bp9,bp10,bp11,bp12,bp13,bp14]
bp_all

['53.51388412752828',
 '53.20447609359105',
 '89.89210675752413',
 '33.678532901833876',
 '90.59945504087193',
 '90.58256679807272',
 '91.33476856835307',
 '54.64228295819936',
 '89.22716627634661',
 '90.54054054054053',
 '90.33333333333333',
 '52.988247061765435',
 '53.53917244276413',
 '54.289886820007304',
 '90.94801223241589']

In [15]:
#Budget per student
summary_frame1 = school_data
summary_frame1["per_cap_budget"] = school_data["budget"]/school_data["size"]

group_frame = district_data.groupby(['school_name'])
group_frame.count()

,School ID,type,size,budget,Student ID,student_name,gender,grade,reading_score,math_score,Math Score Summary,Reading Score Summary
school_name,,,,,,,,,,,,
Bailey High School,4976,4976,4976,4976,4976,4976,4976,4976,4976,4976,4976,4976
Cabrera High School,1858,1858,1858,1858,1858,1858,1858,1858,1858,1858,1858,1858
Figueroa High School,2949,2949,2949,2949,2949,2949,2949,2949,2949,2949,2949,2949
Ford High School,2739,2739,2739,2739,2739,2739,2739,2739,2739,2739,2739,2739
Griffin High School,1468,1468,1468,1468,1468,1468,1468,1468,1468,1468,1468,1468
Hernandez High School,4635,4635,4635,4635,4635,4635,4635,4635,4635,4635,4635,4635
Holden High School,427,427,427,427,427,427,427,427,427,427,427,427
Huang High School,2917,2917,2917,2917,2917,2917,2917,2917,2917,2917,2917,2917
Johnson High School,4761,4761,4761,4761,4761,4761,4761,4761,4761,4761,4761,4761
Pena High School,962,962,962,962,962,962,962,962,962,962,962,962
Rodriguez High School,3999,3999,3999,3999,3999,3999,3999,3999,3999,3999,3999,3999
Shelton High School,1761,1761,1761,1761,1761,1761,1761,1761,1761,1761,1761,1761
Thomas High School,1635,1635,1635,1635,1635,1635,1635,1635,1635,1635,1635,1635
Wilson High School,2283,2283,2283,2283,2283,2283,2283,2283,2283,2283,2283,2283
Wright High School,1800,1800,1800,1800,1800,1800,1800,1800,1800,1800,1800,1800

In [16]:
group_means_frame = group_frame.mean()
group_means = group_means_frame.copy()
group_means

,School ID,size,budget,Student ID,reading_score,math_score
school_name,,,,,,
Bailey High School,7.0,4976.0,3124928.0,20358.5,81.033963,77.048432
Cabrera High School,6.0,1858.0,1081356.0,16941.5,83.975780,83.061895
Figueroa High School,1.0,2949.0,1884411.0,4391.0,81.158020,76.711767
Ford High School,13.0,2739.0,1763916.0,36165.0,80.746258,77.102592
Griffin High School,4.0,1468.0,917500.0,12995.5,83.816757,83.351499
Hernandez High School,3.0,4635.0,3022020.0,9944.0,80.934412,77.289752
Holden High School,8.0,427.0,248087.0,23060.0,83.814988,83.803279
Huang High School,0.0,2917.0,1910635.0,1458.0,81.182722,76.629414
Johnson High School,12.0,4761.0,3094650.0,32415.0,80.966394,77.072464
Pena High School,9.0,962.0,585858.0,23754.5,84.044699,83.839917
Rodriguez High School,11.0,3999.0,2547363.0,28035.0,80.744686,76.842711
Shelton High School,2.0,1761.0,1056600.0,6746.0,83.725724,83.359455
Thomas High School,14.0,1635.0,1043130.0,38352.0,83.848930,83.418349
Wilson High School,5.0,2283.0,1319574.0,14871.0,83.989488,83.274201
Wright High School,10.0,1800.0,1049400.0,25135.5,83.955000,83.682222

In [20]:
summary_frame2 = pd.merge(summary_frame1, group_means, how = 'right', on= ['school_name', 'school_name', 'budget', 'budget', 'size','size', 'School ID', 'School ID'])
summary_frame2

,School ID,school_name,type,size,budget,per_cap_budget,Student ID,reading_score,math_score
0,0,Huang High School,District,2917,1910635,655.0,1458.0,81.182722,76.629414
1,1,Figueroa High School,District,2949,1884411,639.0,4391.0,81.158020,76.711767
2,2,Shelton High School,Charter,1761,1056600,600.0,6746.0,83.725724,83.359455
3,3,Hernandez High School,District,4635,3022020,652.0,9944.0,80.934412,77.289752
4,4,Griffin High School,Charter,1468,917500,625.0,12995.5,83.816757,83.351499
5,5,Wilson High School,Charter,2283,1319574,578.0,14871.0,83.989488,83.274201
6,6,Cabrera High School,Charter,1858,1081356,582.0,16941.5,83.975780,83.061895
7,7,Bailey High School,District,4976,3124928,628.0,20358.5,81.033963,77.048432
8,8,Holden High School,Charter,427,248087,581.0,23060.0,83.814988,83.803279
9,9,Pena High School,Charter,962,585858,609.0,23754.5,84.044699,83.839917
10,10,Wright High School,Charter,1800,1049400,583.0,25135.5,83.955000,83.682222
11,11,Rodriguez High School,District,3999,2547363,637.0,28035.0,80.744686,76.842711
12,12,Johnson High School,District,4761,3094650,650.0,32415.0,80.966394,77.072464
13,13,Ford High School,District,2739,1763916,644.0,36165.0,80.746258,77.102592
14,14,Thomas High School,Charter,1635,1043130,638.0,38352.0,83.848930,83.418349

In [31]:
summary_frame2['Math Pass Rate'] = mpps
summary_frame2['Reading Pass Rate'] = rpps
summary_frame2['Non-Fail Rate'] = bp_all
summary_frame2

,School ID,school_name,type,size,budget,per_cap_budget,Student ID,reading_score,math_score,Math Pass Rate,Reading Pass Rate,Non-Fail Rate
0,0,Huang High School,District,2917,1910635,655.0,1458.0,81.182722,76.629414,65.683922,81.316421,53.51388412752828
1,1,Figueroa High School,District,2949,1884411,639.0,4391.0,81.158020,76.711767,65.988471,80.739234,53.20447609359105
2,2,Shelton High School,Charter,1761,1056600,600.0,6746.0,83.725724,83.359455,93.867121,95.854628,89.89210675752413
3,3,Hernandez High School,District,4635,3022020,652.0,9944.0,80.934412,77.289752,66.752967,80.862999,33.678532901833876
4,4,Griffin High School,Charter,1468,917500,625.0,12995.5,83.816757,83.351499,93.392371,97.138965,90.59945504087193
5,5,Wilson High School,Charter,2283,1319574,578.0,14871.0,83.989488,83.274201,93.867718,96.539641,90.58256679807272
6,6,Cabrera High School,Charter,1858,1081356,582.0,16941.5,83.975780,83.061895,94.133477,97.039828,91.33476856835307
7,7,Bailey High School,District,4976,3124928,628.0,20358.5,81.033963,77.048432,66.680064,81.933280,54.64228295819936
8,8,Holden High School,Charter,427,248087,581.0,23060.0,83.814988,83.803279,92.505855,96.252927,89.22716627634661
9,9,Pena High School,Charter,962,585858,609.0,23754.5,84.044699,83.839917,94.594595,95.945946,90.54054054054053
10,10,Wright High School,Charter,1800,1049400,583.0,25135.5,83.955000,83.682222,93.333333,96.611111,90.33333333333333
11,11,Rodriguez High School,District,3999,2547363,637.0,28035.0,80.744686,76.842711,66.366592,80.220055,52.988247061765435
12,12,Johnson High School,District,4761,3094650,650.0,32415.0,80.966394,77.072464,66.057551,81.222432,53.53917244276413
13,13,Ford High School,District,2739,1763916,644.0,36165.0,80.746258,77.102592,68.309602,79.299014,54.289886820007304
14,14,Thomas High School,Charter,1635,1043130,638.0,38352.0,83.848930,83.418349,93.272171,97.308869,90.94801223241589

In [38]:
school_summary0 = summary_frame2[['type','size','budget','per_cap_budget','math_score','reading_score','Math Pass Rate','Reading Pass Rate','Non-Fail Rate','school_name']]

In [43]:
school_summary00 = school_summary0.rename(columns = {'type':'School Type','size':'Total Students','budget':'Total School Budget ($)','per_cap_budget':'Per Student Budget ($)','math_score':'Average Math Score','reading_score':'Average Reading Score','Math Pass Rate':'% Passing Math','Reading Pass Rate':'% Passing Reading','Non-Fail Rate':'% Overall Passing','school_name':'School Name'})
school_summary = school_summary00.set_index('School Name')

In [44]:
school_summary

,School Type,Total Students,Total School Budget ($),Per Student Budget ($),Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Name,,,,,,,,,
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,53.51388412752828
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,53.20447609359105
Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,93.867121,95.854628,89.89210675752413
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999,33.678532901833876
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,90.59945504087193
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,90.58256679807272
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,91.33476856835307
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,66.680064,81.933280,54.64228295819936
Holden High School,Charter,427,248087,581.0,83.803279,83.814988,92.505855,96.252927,89.22716627634661
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,90.54054054054053
Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,93.333333,96.611111,90.33333333333333
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,52.988247061765435
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,53.53917244276413
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,54.289886820007304
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,90.94801223241589

In [52]:
top_schools = school_summary.sort_values("% Overall Passing", ascending = False).head(5)
top_schools

,School Type,Total Students,Total School Budget ($),Per Student Budget ($),Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Name,,,,,,,,,
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,91.33476856835307
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,90.94801223241589
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,90.59945504087193
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,90.58256679807272
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,90.54054054054053

In [53]:
worst_schools = school_summary.sort_values("% Overall Passing").head(5)
worst_schools

,School Type,Total Students,Total School Budget ($),Per Student Budget ($),Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Name,,,,,,,,,
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999,33.678532901833876
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,52.988247061765435
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,53.20447609359105
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,53.51388412752828
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,53.53917244276413

In [64]:
district_data.head(20)

,School ID,school_name,type,size,budget,Student ID,student_name,gender,grade,reading_score,math_score,Math Score Summary,Reading Score Summary
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79,Pass,Fail
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61,Fail,Pass
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60,Fail,Pass
3,0,Huang High School,District,2917,1910635,3,Dr. Richard Scott,M,12th,67,58,Fail,Fail
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84,Pass,Pass
5,0,Huang High School,District,2917,1910635,5,Bryan Miranda,M,9th,94,94,Pass,Pass
6,0,Huang High School,District,2917,1910635,6,Sheena Carter,F,11th,82,80,Pass,Pass
7,0,Huang High School,District,2917,1910635,7,Nicole Baker,F,12th,96,69,Fail,Pass
8,0,Huang High School,District,2917,1910635,8,Michael Roth,M,10th,95,87,Pass,Pass
9,0,Huang High School,District,2917,1910635,9,Matthew Greene,M,10th,96,84,Pass,Pass
10,0,Huang High School,District,2917,1910635,10,Andrew Alexander,M,10th,90,70,Pass,Pass
11,0,Huang High School,District,2917,1910635,11,Daniel Cooper,M,10th,78,77,Pass,Pass
12,0,Huang High School,District,2917,1910635,12,Brittney Walker,F,9th,64,79,Pass,Fail
13,0,Huang High School,District,2917,1910635,13,William Long,M,9th,71,79,Pass,Pass
14,0,Huang High School,District,2917,1910635,14,Tammy Hebert,F,10th,85,67,Fail,Pass
15,0,Huang High School,District,2917,1910635,15,Dr. Jordan Carson,M,11th,94,88,Pass,Pass
16,0,Huang High School,District,2917,1910635,16,Donald Zamora,M,9th,88,55,Fail,Pass
17,0,Huang High School,District,2917,1910635,17,Kimberly Santiago,F,9th,74,75,Pass,Pass
18,0,Huang High School,District,2917,1910635,18,Kevin Stevens,M,9th,64,69,Fail,Fail
19,0,Huang High School,District,2917,1910635,19,Brandi Lyons,F,9th,89,80,Pass,Pass

In [106]:
student_data

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84
...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75

In [113]:
#sbgbs = scores by grades by schools
#sgs = scores grades schools
#sdrn = student data rename
sdrn = student_data.rename(columns = {'school_name':'School Name','grade':'Grade','math_score':'Average Math Score','reading_score':'Average Reading Score'})
sbgbs = sdrn.groupby(['School Name','Grade'])
sbgbs_m = sbgbs.mean()
sgs = sbgbs_m.reindex(['9th','10th','11th','12th'], level='Grade')
sgs
score_summaries = sgs[['Average Math Score','Average Reading Score']]
score_summaries

                             Average Math Score  Average Reading Score
School Name           Grade
Bailey High School    9th             77.083676              81.303155
                      10th            76.996772              80.907183
                      11th            77.515588              80.945643
                      12th            76.492218              80.912451
Cabrera High School   9th             83.094697              83.676136
                      10th            83.154506              84.253219
                      11th            82.765560              83.788382
                      12th            83.277487              84.287958
Figueroa High School  9th             76.403037              81.198598
                      10th            76.539974              81.408912
                      11th            76.884344              80.640339
                      12th            77.151369              81.384863
Ford High School      9th             77.361345              80.632653
                      10th            77.672316              81.262712
                      11th            76.918058              80.403642
                      12th            76.179963              80.662338
Griffin High School   9th             82.044010              83.369193
                      10th            84.229064              83.706897
                      11th            83.842105              84.288089
                      12th            83.356164              84.013699
Hernandez High School 9th             77.438495              80.866860
                      10th            77.337408              80.660147
                      11th            77.136029              81.396140
                      12th            77.186567              80.857143
Holden High School    9th             83.787402              83.677165
                      10th            83.429825              83.324561
                      11th            85.000000              83.815534
                      12th            82.855422              84.698795
Huang High School     9th             77.027251              81.290284
                      10th            75.908735              81.512386
                      11th            76.446602              81.417476
                      12th            77.225641              80.305983
Johnson High School   9th             77.187857              81.260714
                      10th            76.691117              80.773431
                      11th            77.491653              80.616027
                      12th            76.863248              81.227564
Pena High School      9th             83.625455              83.807273
                      10th            83.372000              83.612000
                      11th            84.328125              84.335938
                      12th            84.121547              84.591160
Rodriguez High School 9th             76.859966              80.993127
                      10th            76.612500              80.629808
                      11th            76.395626              80.864811
                      12th            77.690748              80.376426
Shelton High School   9th             83.420755              84.122642
                      10th            82.917411              83.441964
                      11th            83.383495              84.373786
                      12th            83.778976              82.781671
Thomas High School    9th             83.590022              83.728850
                      10th            83.087886              84.254157
                      11th            83.498795              83.585542
                      12th            83.497041              83.831361
Wilson High School    9th             83.085578              83.939778
                      10th            83.724422              84.021452
                      11th            83.195326              83.764608
                      12th            83.035794              84.317673
Wright High School    9th             83.264706              83.833333
                      10th            84.010288              83.812757
                      11th            83.836782              84.156322
                      12th            83.644986              84.073171

In [145]:
sss0 = school_summary[['Per Student Budget ($)','Average Math Score','Average Reading Score','% Passing Math','% Passing Reading','% Overall Passing']]
sss0

,Per Student Budget ($),Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Name,,,,,,
Huang High School,655.0,76.629414,81.182722,65.683922,81.316421,53.51388412752828
Figueroa High School,639.0,76.711767,81.158020,65.988471,80.739234,53.20447609359105
Shelton High School,600.0,83.359455,83.725724,93.867121,95.854628,89.89210675752413
Hernandez High School,652.0,77.289752,80.934412,66.752967,80.862999,33.678532901833876
Griffin High School,625.0,83.351499,83.816757,93.392371,97.138965,90.59945504087193
Wilson High School,578.0,83.274201,83.989488,93.867718,96.539641,90.58256679807272
Cabrera High School,582.0,83.061895,83.975780,94.133477,97.039828,91.33476856835307
Bailey High School,628.0,77.048432,81.033963,66.680064,81.933280,54.64228295819936
Holden High School,581.0,83.803279,83.814988,92.505855,96.252927,89.22716627634661
Pena High School,609.0,83.839917,84.044699,94.594595,95.945946,90.54054054054053
Wright High School,583.0,83.682222,83.955000,93.333333,96.611111,90.33333333333333
Rodriguez High School,637.0,76.842711,80.744686,66.366592,80.220055,52.988247061765435
Johnson High School,650.0,77.072464,80.966394,66.057551,81.222432,53.53917244276413
Ford High School,644.0,77.102592,80.746258,68.309602,79.299014,54.289886820007304
Thomas High School,638.0,83.418349,83.848930,93.272171,97.308869,90.94801223241589

In [140]:
spending_bins = [570,595,620,645,670]
spending_labels = ['570-595','595-620','620-645','645-670']

In [155]:
#Scores by Spending
sss0["Spending Ranges ($)"] = pd.cut(sss0["Per Student Budget ($)"], spending_bins, labels = spending_labels, include_lowest = True)
sss = sss0.groupby('Spending Ranges ($)')
sss_means = sss.mean()
sss_means

/Users/evanreeves/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Per Student Budget ($),Average Math Score,Average Reading Score,% Passing Math,% Passing Reading
Spending Ranges ($),,,,,
570-595,581.000000,83.455399,83.933814,93.460096,96.610877
595-620,604.500000,83.599686,83.885211,94.230858,95.900287
620-645,635.166667,79.079225,81.891436,75.668212,86.106569
645-670,652.333333,76.997210,81.027843,66.164813,81.133951

In [159]:
size_bins = [0,1000,2000,5000]
size_labels = ['Small (<1000)', 'Medium (1000-2000)', 'Large (2000-5000)']

In [160]:
sss1 = school_summary[['Total Students','Average Math Score','Average Reading Score','% Passing Math','% Passing Reading','% Overall Passing']]
sss1["Size Ranges"] = pd.cut(sss1["Total Students"], size_bins, labels = size_labels, include_lowest = True)
sss1_1 = sss1.groupby('Size Ranges')
sss1_means = sss1_1.mean()
sss1_means

/Users/evanreeves/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Total Students,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading
Size Ranges,,,,,
Small (<1000),694.500,83.821598,83.929843,93.550225,96.099437
Medium (1000-2000),1704.400,83.374684,83.864438,93.599695,96.790680
Large (2000-5000),3657.375,77.746417,81.344493,69.963361,82.766634

In [170]:
sss2 = school_summary[['School Type','Average Math Score','Average Reading Score','% Passing Math','% Passing Reading','% Overall Passing']]

sss2_1 = sss2.groupby('School Type')
Last_Step = sss2_1.mean()
Last_Step

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading
School Type,,,,
Charter,83.473852,83.896421,93.620830,96.586489
District,76.956733,80.966636,66.548453,80.799062